# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Windows用のシステムファイル
Thumbs.db
ehthumbs.db

# VSのビルド出力
[Dd]ebug/
[Dd]ebugPublic/
[Dd]evelopment/
[Dd]ist/
[Dd]ebugger/
[Dd]ebugGame/
[Dd]ebugFinal/

# ビルドした出力を無視
bin/
obj/

# ユーザー個別の設定ファイル
.vs/
.vscode/
.idea/

# .NET Core/ASP.NET Core用の一時ファイル
project.lock.json
project.fragment.lock.json
artifacts/

# JetBrains Rider, ReSharperなどの設定ファイル
.idea/

# パッケージ管理のキャッシュ
.nuget/
packages/

# テスト関連のファイル
TestResults/

# アセンブリの出力パスに含まれる一時ファイル
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio で自動生成されるワークスペース関連のファイル
.vs2019/
.vs2017/

# ログファイル
*.log

# 一時ファイル
*.tmp
*.swp
